body{
    display: flex;
  flex-direction: column;
  font-family: 'Noto Serif', serif;
  background-color: #dadace;
}
nav{

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}



li {
  list-style: none;
  margin: 10px 30px;
}

.logo {
    height: 100px;
    margin: 15px 30px 15px 20px;
    display: flex;
    justify-content: space-between;
   
    
  }

/*
.nav-bar{
    display:none;

}
*/
section {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
  }
  
  .about-me {
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
headers{

    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

  .info {
    max-width: 300px;
    margin: 50px;
  }
  
  #main {
    box-shadow: 2px 2px 5px grey;
  }
  
  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .hero-info {
    margin: 100px;
    max-width: 300px;
    
  }
  
  
  
  .hero-image {
    height: 600px;
    width: 600px;
    
    
  }

  .styled-break {
    width: 30px;
    height: 5px;
    background-color: #a17df4;
    border-radius: 2.5px;
    margin: 30px 0 30px 0;
  }
  
  .avatar {
    width: 300px;
    border-radius: 50px;
  }
  
  #name {
    font-size: 45px;
  }
  
  .test {
    width: 30px;
    height: 30px;
    background-color: red;
    margin: 5px;
  }
  
  .button {
    border: 0;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ef866c;
    width: 80px;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
  }
  
  .button:hover {
    background-color: #ef744b;
  }
  
  .button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
  }
  .input-section {
    margin: 20px 0;
    display: flex;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 5px;
  }
 .button-submit{
   align-items: center;
   justify-content: center;
   display: flex;
 }
 .nav-bar{
   display: flex;
  flex-wrap: nowrap;
}
 




.nav-bar li {
  padding: 5px 30px;
  border-radius: 4px;
  margin: 5px;
}


  .footer{

    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
  }
 .media{

  display: flex;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: center;
  font-size:60px;
 }


  

  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: rgb(23, 177, 46);
  }
  
  a:active {
    color: purple;
  }

  a:hover .about-me {
    background-color:empty
  
  
  }